@charset "utf-8";
/* CSS Document */



.grid-container1 { 
	display: grid;
	justify-content: center; 
	margin: 3% ; 
  gap: 0px 8%; /*ADJUST GAP*/ 
  grid-template-columns: auto auto auto;
  background-color: none; /*KEEP NO BACKROUND COLOR?*/ 
	padding:0;
}

.grid-itemphoto {
	display: grid; 
	max-width:300px; 
	text-align:center; 
  	background-color:#008853;
  	border: 1px solid #08FB9B;
	padding: 0; 
  	font-size: 20px;
}
.grid-itemphoto img {
	max-width:300px; 
}
.grid-item {
	 max-width:300px; 
  background-color: #008853;
  border: 1px solid #08FB9B; 
  padding: 0; 
  font-size: 18px;
}
.grid-item h3 {
	margin-left: 10px; 
}
.grid-item p {
	margin: 0 10px; 
}
